{% extends "layout.html" %}
{% block title %}Account{% endblock %}
{% block head %}{% endblock %}
{% block content %}

<h1> Account - you are logged in as {{ user_name }}!</h1>
<h4><a href="/logout">Logout</a></h4>

<!-- change username -->
<p>Change username</p>
<form class="form-text" method="post" action="/account">
    <input type="text" name="change_username" autofocus autocomplete="off" placeholder="New username">
    <button type="submit">Change username</button> 
</form>

<!-- change email -->
<p>Update email</p>
<form class="form-text" method="post" action="/account">
    <input type="text" name="update_email" autofocus autocomplete="off" placeholder="New email">
    <button type="submit">Update email</button> 
</form>

<!-- change password -->
<p>Update password</p>
<form class="form-text" method="post" action="/account">
    <input type="text" name="update_password" autofocus autocomplete="off" placeholder="New password">
    <input type="text" name="confirm_update_password" autofocus autocomplete="off" placeholder="Confirm new password">
    <button type="submit">Update password</button> 
</form>

{% endblock %}