{% extends "layout.html" %}
{% block title %}Diary{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<body class="img" id="tony_williams">
	<h1 style="color: white;"> Diary</h1>

	<form action="/add_content" method="POST"> 
		<input type="text" name="new_content" autocomplete="off">
		<button  type="submit" >Add new content</button>
	</form>
	

	<div>
		<form action="/diary" method="post" class="testy" style="background-color: rgb(32, 32, 32);">
			
			<select name="content"  class="form-control control-the-form">
				<option disabled selected value="">What did you practice?</option>
				{% for row in content %}
					<option>
						{{ row[0] }}
					</option>
				{% endfor %}
			</select>

			<select name="tempo" class="form-control control-the-form max-content">
				<option disabled selected>Tempo</option>
				{% for n in range(30, 301) %}
				<option>
					{{ n }} bpm
				</option>
				{% endfor %}
			</select>

		
			<select name="rating" class="form-control control-the-form max-content" name="">
				<option disabled selected>Rating</option>
				{% for n in range(1, 6) %}
				<option>
					{{ n }} stars
				</option>
				{% endfor %}
			</select>

			<input type="text" placeholder="Notes..." class="form-control control-the-form" name="notes" autocomplete="off"></input>
			<button type="submit" class="form-control btn btn-primary submit px-3 control-the-form max-content bigger">+</input>
		</form>
	</div>
	



	<div>
		<table class="table-container testy">
			<tbody class="mytab">

				{% for rows in diary %}
				<div class="fuck">
						
						<tr class="testy" style="width: 100%; background-color: black; ">
				
					
						<td class=" flex-row form-control control-the-form " style="width: 40%">
							{{ rows[0] }}
						</td>
						<td class="flex-row form-control control-the-form " style="width: 9%">
							{{ rows[1] }} bpm
						</td>
						<td class="flex-row form-control control-the-form " style="width: 8%">
							{{ rows[2] }}	
						</td>
						<td class="flex-row form-control control-the-form flex-row"  style="width: 43%">
							{{ rows[3] }}
						</td>
				
					</tr>
				</div>
				
				{% endfor %}

			</tbody>
			
		</table>
	</div>

</div>
</body>
{% endblock %}