<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


        <script src="{{ url_for ('static', filename='login-form-20/js/jquery.min.js') }}"></script>
        <script src="{{ url_for ('static', filename='login-form-20/js/popper.js') }} "></script>
        <script src="{{ url_for ('static', filename='login-form-20/js/bootstrap.min.js') }} "></script>
        <script src="{{ url_for ('static', filename='login-form-20/js/main.js') }}"></script>

    
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
          
    
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}

        </head>
    <body style="background-color: rgb(22, 22, 22);">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="nav-link" href="/diary">Diary</a>
            <a class="nav-link active" href="/account">Account</a>
        </nav>
        {% block content %}
        {% endblock %}

    </body>
</html>